In [46]:
import csv
import pandas as pd
import matplotlib.pyplot as plt
import scipy

In [28]:
beer_df = pd.read_csv("open_units.csv", header = None, 
                      names = ["Product", "Brand", "Category", "Style", "Quantity", "Quantity Units", "Volume", "Package", "ABV", "Units of Alcohol", "Units (4 Decimal Places)", "Units per 100 ml"])
beer_df.head()

,Product,Brand,Category,Style,Quantity,Quantity Units,Volume,Package,ABV,Units of Alcohol,Units (4 Decimal Places),Units per 100 ml
0,13 Guns,Crafty Dan,Beer,IPA,330,ml,330,bottle,5.5,1.8,1.815,0.55
1,13 Guns,Crafty Dan,Beer,IPA,330,ml,330,can,5.5,1.8,1.815,0.55
2,13 Guns,Crafty Dan,Beer,IPA,1,pint,568,draught,5.5,3.1,3.124,0.55
3,Abbot Ale,Greene King,Beer,Ale,500,ml,500,bottle,5.0,2.5,2.500,0.50
4,Abbot Ale,Greene King,Beer,Beer,1,pint,568,draught,5.0,2.8,2.840,0.50

In [79]:
abv_median = beer_df["ABV"].sum() / beer_df["ABV"].count()
abv_median

4.746025878003697

In [80]:
group_name = ["Lower ABV", "Higher ABV"]
bin_size = [0, abv_median, max(beer_df["ABV"])]

beer_df["ABV Level"] = pd.cut(beer_df["ABV"], bin_size, labels = group_name)

In [81]:
beer_df.groupby("ABV Content").count()

,Product,Brand,Category,Style,Quantity,Quantity Units,Volume,Package,ABV,Units of Alcohol,Units (4 Decimal Places),Units per 100 ml,ABV Level
ABV Content,,,,,,,,,,,,,
Lower ABV,678,678,678,592,678,678,678,678,678,678,678,678,678
Higher ABV,392,392,392,327,392,392,392,392,392,392,392,392,392